<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBNB</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
      <div>
        <a class='btn' href="/requests">Requests</a>
      </div>
    <h1>Book a space</h1>
    
    <a href="/spaces/new">List a Space</a>
    <%= @user.name %>
    <form action="/spaces/search" method="post">
      <label for='available-from'>Available from (DD/MM/YYYY)</label>
        <input type="text" name='available-from'>
      <label for='available-to'>Available to (DD/MM/YYYY)</label>
        <input type="text" name='available-to'>
      <input class="button" type="submit" value="List Spaces">
    </form>
    <br>
    <ul>
    <% @spaces.each do |space|%>
    <li>
      <h3><%= space.name %></h3>
      <p><%= space.description %> <%= space.location %> £<%= space.price %><p>
      <form action="spaces/<%= space.id %>/booking" method="GET">
       <input type="submit" value="Book"/>
      </form>
    </li>
    <% end %>
    </ul>
</body>
</html>